!!!
%html
  %head
    %title JetFuel
    / %link{ href: "/bootstrap/css/bootstrap.css", type: "text/css", rel: "stylesheet"}
  %body
    /%div= haml :navbar

    %div= yield

    /%script{ :type => "text/javascript", :src =>"/bootstrap/js/jquery.js"}
    /%script{ :type => "text/javascript", :src =>"/bootstrap/js/basic/bootstrap-transition.js"}
    /%script{ :type => "text/javascript", :src =>"/bootstrap/js/basic/bootstrap-alert.js"}
    /%script{ :type => "text/javascript", :src =>"/bootstrap/js/basic/bootstrap-modal.js"}
    /%script{ :type => "text/javascript", :src =>"/bootstrap/js/basic/bootstrap-dropdown.js"}
    /%script{ :type => "text/javascript", :src =>"/bootstrap/js/basic/bootstrap-scrollspy.js"}
    /%script{ :type => "text/javascript", :src =>"/bootstrap/js/basic/bootstrap-tab.js"}
    /%script{ :type => "text/javascript", :src =>"/bootstrap/js/basic/bootstrap-tooltip.js"}
    /%script{ :type => "text/javascript", :src =>"/bootstrap/js/basic/bootstrap-popover.js"}
    /%script{ :type => "text/javascript", :src =>"/bootstrap/js/basic/bootstrap-button.js"}
    /%script{ :type => "text/javascript", :src =>"/bootstrap/js/basic/bootstrap-collapse.js"}
    /%script{ :type => "text/javascript", :src =>"/bootstrap/js/basic/bootstrap-carousel.js"}
    /%script{ :type => "text/javascript", :src =>"/bootstrap/js/basic/bootstrap-typeahead.js"}
