!!!
%html
  %head
    %title JetFuel
    %meta{ name:"viewport", content:"with=device-width, initial-scale=1.0"}
    %link{ href: "/bootstrap/css/bootstrap.min.css", type: "text/css", rel: "stylesheet", media:"screen"}
  %body
    /%div= haml :navbar
    %div.row-fluid
      %div.span3= haml :new_url
      %div.span9= yield

    %script{ :type => "text/javascript", :src =>"/bootstrap/js/bootstrap.min.js"}
